<div class="conteiner">
  <h3>Kirjaudu sisään:</h3>
  <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="field-full-width">
      <input matInput
             formControlName="eMail"
             placeholder="eMail">
      <mat-error *ngIf="eMail.hasError('required')">Enter your email</mat-error>
      <mat-error *ngIf="eMail.hasError('minlength')">Minimun 2 charaters</mat-error>
      <mat-error *ngIf="eMail.hasError('email')">Not real Email</mat-error>
    </mat-form-field>
    <mat-form-field class="field-full-width">
      <input matInput
             type="password"
             formControlName="passWord"
             placeholder="passWord">
      <mat-error *ngIf="passWord.hasError('required')">Enter password</mat-error>
      <mat-error *ngIf="passWord.hasError('minlength')">Minimun 10 charaters</mat-error>
      <mat-error *ngIf="passWord.hasError('pattern')">At least 1 UpperCase, LowerCase, Number or SpecialChar</mat-error>
    </mat-form-field>
    <div>
<!--      <button mat-raised-button type="submit" class="btn" [disabled]="profileForm.invalid" (click)="authService.login(eMail,passWord)">Login</button>-->
      <button mat-raised-button type="submit" class="btn" [disabled]="profileForm.invalid" (click)="onSubmit()">Login</button>
      <button mat-raised-button type="cancel" class="btn" (click)="cancel()">Cancel</button>
      <!--      <button mat-raised-button type="reset" class="btn" routerLink="/localhost:4200">Cancel</button>-->
    </div>

      <div>
        <p>No account yet? <a href="/register">Create an account</a></p>
      </div>

  </form>
</div>

<!--testi@testi.com-->
<!--salasana: Asdfghj1234-->
