<div class="h1">
  <h1>Palaute kysely:</h1>
</div>
<div class="formConteiner">
  <mat-card *ngFor="let item of feedBackItemArray" style="background-color: #fcfdf8;
  width:16%;
  border-radius: 15px;
  height: auto;
  margin: auto;
  padding: 15px 28px;">
    <mat-card-header>
      <mat-card-title>
        {{item.question}}
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-slider (input)="onInputChange($event,item)" min="0" max="3" step="1"></mat-slider>
      {{item.answer}}
    </mat-card-content>
  </mat-card>
  <!--value="0"-->
</div>
